#map {
    display: flex;
    flex-direction: row;
    width: 240px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

div.W {
    height: 30px;
    width: 30px;
    background-color: blue;
}

div {
    height: 30px;
    width: 30px;
    background-color: white;
}

div#S {
    height: 30px;
    width: 30px;
    position: relative;
    background-image: url('cat.jpg');
}
div.B {
    width: 30px;
    height: 30px;
    background-color: brown;
}

div.O {
    width: 30px;
    height: 30px;
    background-color: red;
}